# Node.js with React
# Build a Node.js project that uses React.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

stages:
- stage: Build
  displayName: Build stage
  jobs:  
  - job: Build
    displayName: Build
    steps:
      - task: NodeTool@0
        inputs:
          versionSpec: '14.x'
        displayName: 'Install Node.js'

      - script: |
          npm install
          npm run build
        displayName: 'npm install and build'

      - script: |
          # F체hren Sie Ihre Unit Tests aus
          npm test
        displayName: 'Run Unit Tests'

      - task: PublishTestResults@2
        condition: succeededOrFailed()  # F체hren Sie den Testergebnisschritt unabh채ngig vom Erfolg oder Scheitern der vorherigen Schritte aus
        inputs:
          testResultsFiles: '**/TEST-*.xml'  # Passe dies an das Format deiner Testergebnisse an, wenn es notwendig ist
          testResultsFormat: 'JUnit'  # Passe dies an das von deinem Test-Framework generierte Format an
        displayName: 'Publish Test Results'

      - task: PublishBuildArtifacts@1
        inputs:
          pathtoPublish: 'out'
          artifactName: 'nextjs-app'
        displayName: 'Publish Artifacts'

# Der Deployment-Teil bleibt unver채ndert

# trigger:
# - master

# pool:
#   vmImage: 'ubuntu-latest'

# stages:
# - stage: Build
#   displayName: Build stage
#   jobs:  
#   - job: Build
#     displayName: Build
    
#     steps:
#       - task: NodeTool@0
#         inputs:
#           versionSpec: '14.x'
#         displayName: 'Install Node.js'

#       - script: |
#           npm install
#           npm run build
#         displayName: 'npm install and build'

#       - task: PublishBuildArtifacts@1
#         inputs:
#           pathtoPublish: 'out'
#           artifactName: 'nextjs-app'
#         displayName: 'Publish Artifacts'

# - stage: Deployment
#   displayName: Deployment
#   jobs:
#   - deployment: DUSNODEJSkontaktformulars
#     displayName: Deploy to DUS-NODEJS
#     environment: 
#       name: DUS-NODEJS
#       resourceType: virtualMachine
#     strategy:
#       runOnce:
#         deploy:
#           steps:
#             - task: DownloadBuildArtifacts@1
#               inputs:
#                 buildType: 'current'
#                 downloadType: 'single'
#                 artifactName: 'nextjs-app' 
#                 downloadPath: '$(System.ArtifactsDirectory)'

         