# Node.js with React
# Build a Node.js project that uses React.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

stages:
- stage: Build
  displayName: Build stage
  jobs:  
  - job: Build
    displayName: Build
    # Hier fügen Sie Schritte für den Build-Prozess hinzu
    steps:
      - task: NodeTool@0
        inputs:
          versionSpec: '14.x'
        displayName: 'Install Node.js'

      - script: |
          npm install
          npm run build
        displayName: 'npm install and build'

      - task: PublishBuildArtifacts@1
        inputs:
          pathtoPublish: 'out'
          artifactName: 'nextjs-app'
        displayName: 'Publish Artifacts'

# Kommentare und nicht benötigte Teile entfernt, da sie für diese Pipeline nicht relevant sind

- stage: Deployment
  displayName: Deployment
  jobs:
  - deployment: DUSNODEJSkontaktformulars
    displayName: Deploy to DUS-NODEJS
    environment: 
      name: DUS-NODEJS
      resourceType: virtualMachine
    strategy:
      runOnce:
        deploy:
          steps:
            - task: DownloadBuildArtifacts@1
              inputs:
                buildType: 'current'
                downloadType: 'single'
                artifactName: 'nextjs-app'  # Das ist der Name des Artifacts, den Sie in der Build-Pipeline festgelegt haben
                downloadPath: '$(System.ArtifactsDirectory)'

            # Hier können Sie weitere Deployment-Schritte hinzufügen, z.B. den Start Ihrer Anwendung oder das Kopieren der Artefakte an den gewünschten Ort
