# Node.js with React
# Build a Node.js project that uses React.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
  branches:
    include:
      - master

pool:
  vmImage: 'ubuntu-latest'

steps:
  - script: |
      npm install
      npm run build
    displayName: 'Install and Build'

  - task: PublishBuildArtifacts@1
    inputs:
      pathtoPublish: 'out'
      artifactName: 'drop'
    displayName: 'Publish Artifacts'
